<header
  class="fixed bg-white transition-all duration-200 top-0 w-full z-30"
  [ngClass]="isDisplacement ? 'shadow-lg pt-0' : 'pt-4'">
  <nav
    class="flex flex-wrap justify-between px-6 max-w-screen-lg mx-auto py-2 w-full">
    <div class="border-red border-2 border-solid">
      <img
        src="assets/img/logo/icono.svg"
        alt="JM Software Developer"
        width="60"
        height="60" />
    </div>
    <div class="">
      <ul
        class="hidden items-end h-full space-x-6 px-2 text-xl font-medium md:flex">
        <li>
          <a class="block px-2"> Inicio </a>
        </li>
        <li>
          <a class="block px-2"> Proyectos </a>
        </li>
        <li>
          <a class="block px-2"> Blog </a>
        </li>
        <li>
          <a class="block px-2"> Contacto </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
