<header
  class="fixed bg-white transition-all duration-200 top-0 w-full z-30"
  [ngClass]="isDisplacement ? 'shadow-lg pt-0' : 'pt-4'">
  <nav class="flex px-6 max-w-screen-xl mx-auto py-2">
    <div>
      <img
        src="assets/img/logo/icono.svg"
        alt="JM Software Developer"
        width="60"
        height="60" />
    </div>
    <div>
      <ul class="hidden">
        <li>Inicio</li>
        <li>Projectos</li>
        <li>Blog</li>
        <li>Contacto</li>
      </ul>
    </div>
  </nav>
</header>
