<header
  class="fixed bg-white top-0 w-full z-30 flex transition-all duration-500"
  [ngClass]="isDisplacement ? 'shadow-lg h-16' : 'h-24'">
  <nav class="flex px-6 py-2 w-full max-w-screen-lg mx-auto">
    <div class="flex h-full w-1/4">
      <img
        class=""
        src="assets/img/logo/icono.svg"
        alt="JM Software Developer"
        width="100%"
        height="100%" />
    </div>
    <div class="w-3/4 flex justify-end">
      <ul
        class="hidden space-x-6 py-1 px-2 font-medium md:flex justify-end w-full leading-8 menu"
        [ngClass]="isDisplacement ? 'text-[1.30rem]' : 'text-2xl'">
        <li class="flex items-center h-full px-2">
          <a
            class="transition-[font-size] duration-300 delay-200"
            href="#seccion-1">
            Inicio
          </a>
        </li>
        <li class="flex items-center h-full">
          <a
            class="transition-[font-size] duration-300 delay-200"
            href="#seccion-2">
            Proyectos
          </a>
        </li>
        <li class="flex items-center h-full">
          <a
            class="transition-[font-size] duration-300 delay-200"
            href="#seccion-3">
            Blog
          </a>
        </li>
        <li class="flex items-center h-full">
          <a
            class="transition-[font-size] duration-300 delay-200"
            href="#seccion-4">
            Contacto
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
